.splash {
    width: 100vw;
    height: 100vh;
    background-color: #202020;

		margin: 0 auto;
		padding: 15vh 20px;
		text-align: center;

    font-family: 'serif';
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 24px;
    }

    .profile-picture {
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }

    .socials {
      margin-top: 32px;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      a p {
        display: none;
        padding: 20px;

      }
      a:hover p {
        display: block;
      }

      svg {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
    }

    .star {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #FFF;
        animation: twinkle 5s infinite alternate;
        z-index: +2;
    }

    @keyframes twinkle {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
