{# templates/home.html #}

{% extends "base.html" %}

{% block headers %}
<link rel="stylesheet" href="{{ get_url(path='/modern.css', trailing_slash=false, cachebust=true) }}" />
{% endblock header %}

{% block content %}
<section class="splash">
	{% set profile_picture = resize_image(path=section.extra.profile_picture, width=150, height=150, op="fill", format="webp") %}
  <img class="profile-picture" src="{{ profile_picture.url }}" alt="Profile image of {{ section.extra.name }}" />

	<h1>{{ section.extra.name }}</h1>
	<h2>{{ section.extra.title }}</h1>
	<div class="socials">
			{% for social in section.extra.socials %}
			<a class="icon" href="{{ social.link | default(value='') }}" data-link="{{ social.label }}" target="_blank" rel="noopener">
				<div>{{ load_data(path=social.icon) | safe }}</div>
			</a>
			{% endfor %}
	</div>
	{% include "stars.html" %}
</section>
{% endblock content %}
