{# templates/base.html #}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ get_url(path='/main.css', trailing_slash=false, cachebust=true) }}" />
	<link rel="stylesheet" href="{{ get_url(path='/pc.css', trailing_slash=false, cachebust=true) }}" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
	<link href='https://fonts.googleapis.com/css?family=Helvetica' rel='stylesheet'>
	{% block headers %}
	{% endblock headers %}
</head>
<body>
	<header>
		<a class="logo" href="">JR</a>
			<!-- Hamburger icon -->
        	<input class="side-menu" type="checkbox" id="side-menu"/>
        	<label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        	<!-- Menu -->
        	<nav class="nav">
            		<ul class="menu">
									{% for link in config.extra.links %}
									<li><a href="{{ get_url(path=link.path) }}">{{ link.name }}</a></li>
									{% endfor %}
            	</ul>
        	</nav>
	</header>

	<main>
			{% block content %}{% endblock content %}
	</main>

	<footer>
		<p>Maintained by Jakub Růžička <br>
		(2021-{{ now() | date(format="%Y") }})<br>
		<a href="https://github.com/RuzickaJakub/ruzickajakub.eu">source code</a> | 
		<a href={{ get_url(path='@/privacy-policy.md', trailing_slash=false) }} >privacy policy</a>
		</p>
	</footer>
</body>
</html>
