{# templates/overview.html #}

{% extends "base.html" %}

{% block content %}

{{ section.content | safe }}

<ul class="listing">
	{% for post in section.pages %}
		<li><a href="{{ post.permalink }}">{{ post.title }}</a><span class="time">{{ post.date }}</span></li>
	{% endfor %}
</ul>

<a href="{{ get_url(path=section.path ~ config.feed_filename) | safe }}" style="display: inline-block; width: 2rem;" target="_blank">
      {{ load_data(path="/assets/icons/rss.svg") | safe }}
</a>

{% endblock content %}
