{% extends "base.html" %}

{% block headers %}
{% set section = get_section(path=page.ancestors | last) %}
{% endblock headers %}

{% block content %}
<section class="long-text">
<h1 class="title">
  {{ page.title }}
</h1>

{% if page.taxonomies.tags %}
        {%- for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">#{{ tag }}</a>
        {%- endfor %}
{% endif %}
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}

{% if page.extra.photos %}
<section id="photos">
	{% for photo in page.extra.photos %}
	<a href="{{ photo.file }}">
			<figure>
				<img src="{{ photo.file }}"/>
				<figcaption>{{ photo.caption }}</figcaption>
			</figure>
			</a>
	{% endfor %}
</section>
{% endif %}

<a class="icon" href="{{ get_url(path=section.path ~ config.feed_filename) | safe }}" target="_blank">
{{ load_data(path="static/assets/icons/rss.svg") | safe }}
</a>
</section>
</section>
{% endblock content %}
